<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-item/core-item.html">

<polymer-element name="project-list">
  <template>
    <style>
    </style>
    <core-header-panel style="height:100%; background:#f2f2f2">
      <core-menu theme="core-light-theme">
        <template repeat="{{project in projects}}">
          <core-item icon="work" label="{{ project.name }}"></core-item>
        </template>
      </core-menu>
    </core-header-panel>
  </template>
  <script>
    Polymer({
      created: function() {
        this.projects = [
          {name: 'Advocatetax', fields: [1, 2, 3]},
          {name: 'Lie-Nielsen', fields: [7, 0, 10]}
        ];
      }
    });
  </script>
</polymer-element>
